/* *Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* *Tailwind CSS Import */
@import "tailwindcss";

/* *Body Style */
body {
  font-family: "Manrope", serif;
}

/* *Banner Image Style At The Header */
.mySwiper img {
  width: 100%;
  height: 38rem;
  object-fit: cover;
  display: block;
  filter: brightness(0.4);
}

/* *Media Query For Mobile Device */
@media (width <= 40rem) {
  .mySwiper img {
    height: 26rem;
  }
}

/* *Media Query For Tablet */
@media (width <= 64rem) {
  .mySwiper img {
    height: 25rem;
  }
}
