@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
body {
  font-family: "Manrope", serif;
}

.mySwiper img {
  width: 100%; /* Full width of the viewport */
  height: 38rem; /* Adjust as needed */
  object-fit: cover; /* Ensures the full image is visible without cropping */
  display: block; /* Removes extra spacing */
  filter: brightness(0.4);
}

@media (width <= 40rem) {
  .mySwiper img{
    height: 26rem;
  }
}
@media (width <= 64rem) { 
  .mySwiper img{
    height: 25rem;
  }
 }